body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.headr-info {
  width: 100%;
  height: 50px;
  background: chocolate;
}
.headr-info::after {
  content: '';
  display: block;
  clear: both;
}
.headr-info1 {
  float: left;
  margin: 0 0 0px 109px;
}
.headr-info1 p {
  display: inline-block;
}
.headr-info2 {
  float: right;
  margin: 0 100px 0 0;
}
.headr-info2 i {
  display: inline-block;
  margin: 15px 39px 0px 0;
}
.mr-r {
  margin-left: 30px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear::after {
  content: '';
  display: block;
  clear: both;
}
i {
  color: white;
}
h4 {
  text-align: center;
  font-size: xx-large;
  margin: 7px 0;
}
h6 {
  font-size: xx-large;
  text-align: center;
  padding-top: 25px;
}
.heder-tags {
  height: 50px;
}
.mr-t {
  margin: 13px 70px 0 70px;
}
a {
  text-decoration: none;
}
.a-mr {
  margin: 0 10px;
  color: black;
  font-size: 20px;
}
.salmon {
  width: 110px;
  position: relative;
  top: 10px;
  left: 135px;
}

.main-img {
  width: 100%;
  height: 550px;
}
.main {
  height: 500px;
}
.sub-img {
  width: 37%;
  margin: 0 57px;
  height: 100%;
}
.sub-p {
  line-height: 44px;
  font-size: larger;
  font-weight: bolder;
  font-family: sans-serif;
  align-items: center;
  text-align: center;
}
form {
  width: 50%;
  margin: auto;
}
fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
fieldset div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
fieldset input {
  margin: auto;
}
table {
  font-size: x-large;
}
h4 {
  text-align: center;
}

table,
iframe {
  display: inline-block;
  width: 50%;
  float: left;
}
main::after {
  content: '';
  display: block;
  clear: both;
}
footer {
  margin-top: 8px;
  width: 100%;
  height: 50px;
  background-color: chocolate;
}

.slaes-head {
  text-align: center;
  background: c;
}

#sales-tabel {
  width: 80%;
  margin: 50px 10%;
    line-height: 20px;
}
#sales-tabel::after {
 content: '';
 display: block;
 clear: both;
}

#tabel {
  display: inline-block;
  width: 50%;
  float: left;
  line-height: 40 px;
  letter-spacing: 3px;
}
#form,#update{
  float: left;
width: 50%;
margin: 20px 0 0 0;
height: 350px;
}

