ul {
  list-style: unset;
  margin-left: 42px;
  line-height: 20px;
  margin-top: 10px;
}
header h1 {
  color: red;
  font-size: 45px;
  font-weight: bold;
}
h2 {
  font-size: 28px;
  margin-left: 25px;
  color: red;
  font-weight: bolder;
  margin-top: 22px;
}
