body , html {
  margin: 0;
  padding: 0;
  height: 100%;
}
ul {
  list-style: unset;
  margin-left: 42px;
  line-height: 20px;
  margin-top: 10px;
}
h2 {
  font-size: 28px;
  margin-left: 25px;
  color: red;
  font-weight: bolder;
  margin-top: 22px;
}
/* a {
  background: gray;
  padding: 40px 40px;
} */
.headr-info {
  background: #bf360c;
  width: 100%;
  height: 20px;
  margin: 0;
  padding: 1%;
  display: flex;
  justify-content: space-around;
}
.headr-info1 {
  float: left;
}
.headr-info2 {
  float: right;
}
.headr-info1 p {
display: inline;
color: white;
}
.headr-info2 p {
display: inline;
}
.headr-info1 i {
display: inline;
}
header {
  padding: 0;
  margin: 0;
  margin-bottom: 0.5%;
}
i {
  color: white;
  margin: 5px;
}
.headr-tags{
  display: flex;
  width: 100%;
  height: 100px;
  /* z-index: 0; */
  background: black;
}
form{
  width: 80%;
  margin: auto;
}
fieldset{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content:center;
}
fieldset div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
fieldset input{
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center;
  align-items: center; */
  margin: auto;
}